<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ether.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ether.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <Ether.Properties.Settings>
      <setting name="Ether_IAppUpdater_AppUpdater" serializeAs="String">
        <value>http://localhost/AppUpdaterService/AppUpdater.asmx</value>
      </setting>
    </Ether.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>카이겐고딕 KR Regular;9</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="GPOS Light">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="228,228,228" />
                <SvgColor Name="Paint Deep Shadow" Value="218,218,218" />
                <SvgColor Name="Brush" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="102,102,102" />
                <SvgColor Name="Brush High" Value="38,38,38" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="22,100,167" />
                <SvgColor Name="Accent Paint Light" Value="198,198,198" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="112,164,235" />
                <SvgColor Name="Key Paint" Value="16,110,190" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="120,170,226" />
                <SvgColor Name="Red" Value="235,60,0" />
                <SvgColor Name="Green" Value="104,164,144" />
                <SvgColor Name="Blue" Value="77,130,184" />
                <SvgColor Name="Yellow" Value="234,194,130" />
                <SvgColor Name="Black" Value="114,114,114" />
                <SvgColor Name="Gray" Value="175,173,175" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="235,60,0" />
                <SvgColor Name="altGreen" Value="104,164,144" />
                <SvgColor Name="altBlue" Value="77,130,184" />
                <SvgColor Name="altYellow" Value="234,194,130" />
                <SvgColor Name="altBlack" Value="114,114,114" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="48,48,48" />
                <SvgColor Name="Paint High" Value="48,48,48" />
                <SvgColor Name="Paint Shadow" Value="64,64,64" />
                <SvgColor Name="Paint Deep Shadow" Value="70,70,70" />
                <SvgColor Name="Brush" Value="227,227,227" />
                <SvgColor Name="Brush Light" Value="131,131,131" />
                <SvgColor Name="Brush High" Value="227,227,227" />
                <SvgColor Name="Brush Major" Value="82,82,82" />
                <SvgColor Name="Brush Minor" Value="66,66,66" />
                <SvgColor Name="Accent Paint" Value="255,114,0" />
                <SvgColor Name="Accent Paint Light" Value="84,84,84" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="255,190,138" />
                <SvgColor Name="Key Paint" Value="48,48,48" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="131,131,131" />
                <SvgColor Name="Red" Value="227,227,227" />
                <SvgColor Name="Green" Value="227,227,227" />
                <SvgColor Name="Blue" Value="227,227,227" />
                <SvgColor Name="Yellow" Value="227,227,227" />
                <SvgColor Name="Black" Value="227,227,227" />
                <SvgColor Name="Gray" Value="110,110,110" />
                <SvgColor Name="White" Value="48,48,48" />
                <SvgColor Name="altRed" Value="217,78,134" />
                <SvgColor Name="altGreen" Value="72,176,153" />
                <SvgColor Name="altBlue" Value="29,178,245" />
                <SvgColor Name="altYellow" Value="255,175,36" />
                <SvgColor Name="altBlack" Value="227,227,227" />
                <SvgColor Name="altGray" Value="110,110,110" />
                <SvgColor Name="altWhite" Value="48,48,48" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Ether.Properties.Settings>
      <setting name="AppUpdateUrl" serializeAs="String">
        <value>http://localhost/AppUpdaterService/AppUpdater.asmx</value>
      </setting>
    </Ether.Properties.Settings>
  </userSettings>
</configuration>
