<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <FRAMEWORK>Default</FRAMEWORK>
  <MASTER>Default</MASTER>
  <INTERGRATE>Default</INTERGRATE>
  <SALES>Default</SALES>
  
  <PM>Purple</PM>
  <MM>Purple</MM>  
  <PP>Blue</PP>
  <AW>Blue</AW>
  <TI>Orange</TI>
  <TE>Orange</TE>
  <SD>Orange</SD>
  <QC>Green</QC>
  <AS>Green</AS>
  <SC>Yellow</SC>
  <CO>Pink</CO>
  <FD>Pink</FD>
  <FI>Pink</FI>
  <HR>SkyBlue</HR>
  <CL>SkyBlue</CL>
  
  <ErrorBackColor>#FCFFCD</ErrorBackColor>
	<BorderColor>#CCCCCC</BorderColor>

	<Blue.FormBackColor>#FCFBF6</Blue.FormBackColor>
	<Blue.ToolBarBackColor>#B5CBF0</Blue.ToolBarBackColor>
	<Blue.WorkAreaBackColor>#F4F8F9</Blue.WorkAreaBackColor>
	<Blue.ButtonBorderColor>#517BC3</Blue.ButtonBorderColor>
	<Blue.ButtonBackColor>#B5CBF0</Blue.ButtonBackColor>
	<Blue.ButtonHoverColor>#89ACE7</Blue.ButtonHoverColor>
	<Blue.HeaderBackColor>#89ACE7</Blue.HeaderBackColor>
	<Blue.GroupBackColor>#F4F8F9</Blue.GroupBackColor>
	<Blue.TDLabelBackColor>#ACD0F0</Blue.TDLabelBackColor>
	<Blue.TDControlBackColor>#F2F2F2</Blue.TDControlBackColor>
	<Blue.GridBorderColor>#FFFFFF</Blue.GridBorderColor>
	<Blue.GridGroupByBoxBackColor>#517BC3</Blue.GridGroupByBoxBackColor>
	<Blue.GridHeaderBackColor>#ACD0F0</Blue.GridHeaderBackColor>
	<Blue.GridRowHoverBackColor>#DCEAF5</Blue.GridRowHoverBackColor>
	<Blue.GridRowAlternateBackColor>#F5F5F5</Blue.GridRowAlternateBackColor>
	<Blue.GridRowBackColor>#FFFFFF</Blue.GridRowBackColor>

	<Orange.FormBackColor>#FCFBF6</Orange.FormBackColor>
	<Orange.ToolBarBackColor>#F0DAB5</Orange.ToolBarBackColor>
	<Orange.WorkAreaBackColor>#F7FAF3</Orange.WorkAreaBackColor>
	<Orange.ButtonBorderColor>#BC6E29</Orange.ButtonBorderColor>
	<Orange.ButtonBackColor>#F0DAB5</Orange.ButtonBackColor>
	<Orange.ButtonHoverColor>#E3B68B</Orange.ButtonHoverColor>
	<Orange.HeaderBackColor>#F1DC9C</Orange.HeaderBackColor>
	<Orange.GroupBackColor>#F7FAF3</Orange.GroupBackColor>
	<Orange.TDLabelBackColor>#F1DC9C</Orange.TDLabelBackColor>
	<Orange.TDControlBackColor>#F2F2F2</Orange.TDControlBackColor>
	<Orange.GridBorderColor>#FFFFFF</Orange.GridBorderColor>
	<Orange.GridGroupByBoxBackColor>#BC6E29</Orange.GridGroupByBoxBackColor>
	<Orange.GridHeaderBackColor>#F1DC9C</Orange.GridHeaderBackColor>
	<Orange.GridRowHoverBackColor>#F5F4E2</Orange.GridRowHoverBackColor>
	<Orange.GridRowAlternateBackColor>#F5F5F5</Orange.GridRowAlternateBackColor>
	<Orange.GridRowBackColor>#FFFFFF</Orange.GridRowBackColor>

	<Green.FormBackColor>#FCFBF6</Green.FormBackColor>
	<Green.ToolBarBackColor>#CCEBC1</Green.ToolBarBackColor>
	<Green.WorkAreaBackColor>#F7FAF3</Green.WorkAreaBackColor>
	<Green.ButtonBorderColor>#379D1E</Green.ButtonBorderColor>
	<Green.ButtonBackColor>#CCEBC1</Green.ButtonBackColor>
	<Green.ButtonHoverColor>#A8DB9B</Green.ButtonHoverColor>
	<Green.HeaderBackColor>#68AB63</Green.HeaderBackColor>
	<Green.GroupBackColor>#F7FAF3</Green.GroupBackColor>
	<Green.TDLabelBackColor>#A8DB9B</Green.TDLabelBackColor>
	<Green.TDControlBackColor>#F2F2F2</Green.TDControlBackColor>
	<Green.GridBorderColor>#FFFFFF</Green.GridBorderColor>
	<Green.GridGroupByBoxBackColor>#379D1E</Green.GridGroupByBoxBackColor>
	<Green.GridHeaderBackColor>#A8DB9B</Green.GridHeaderBackColor>
	<Green.GridRowHoverBackColor>#F7FBEA</Green.GridRowHoverBackColor>
	<Green.GridRowAlternateBackColor>#F5F5F5</Green.GridRowAlternateBackColor>
	<Green.GridRowBackColor>#FFFFFF</Green.GridRowBackColor>

	<Yellow.FormBackColor>#FCFBF6</Yellow.FormBackColor>
	<Yellow.ToolBarBackColor>#EDF0B6</Yellow.ToolBarBackColor>
	<Yellow.WorkAreaBackColor>#FAFAF1</Yellow.WorkAreaBackColor>
	<Yellow.ButtonBorderColor>#A4A56B</Yellow.ButtonBorderColor>
	<Yellow.ButtonBackColor>#EDF0B6</Yellow.ButtonBackColor>
	<Yellow.ButtonHoverColor>#D6D8A5</Yellow.ButtonHoverColor>
	<Yellow.HeaderBackColor>#A4A56B</Yellow.HeaderBackColor>
	<Yellow.GroupBackColor>#FAFAF1</Yellow.GroupBackColor>
	<Yellow.TDLabelBackColor>#D6D8A5</Yellow.TDLabelBackColor>
	<Yellow.TDControlBackColor>#F2F2F2</Yellow.TDControlBackColor>
	<Yellow.GridBorderColor>#FFFFFF</Yellow.GridBorderColor>
	<Yellow.GridGroupByBoxBackColor>#A4A56B</Yellow.GridGroupByBoxBackColor>
	<Yellow.GridHeaderBackColor>#D6D8A5</Yellow.GridHeaderBackColor>
	<Yellow.GridRowHoverBackColor>#FBFFEE</Yellow.GridRowHoverBackColor>
	<Yellow.GridRowAlternateBackColor>#F5F5F5</Yellow.GridRowAlternateBackColor>
	<Yellow.GridRowBackColor>#FFFFFF</Yellow.GridRowBackColor>

	<Purple.FormBackColor>#FCFBF6</Purple.FormBackColor>
	<Purple.ToolBarBackColor>#C6C0E6</Purple.ToolBarBackColor>
	<Purple.WorkAreaBackColor>#F9F9F9</Purple.WorkAreaBackColor>
	<Purple.ButtonBorderColor>#9281BA</Purple.ButtonBorderColor>
	<Purple.ButtonBackColor>#C6C0E6</Purple.ButtonBackColor>
	<Purple.ButtonHoverColor>#B2A3D4</Purple.ButtonHoverColor>
	<Purple.HeaderBackColor>#9281BA</Purple.HeaderBackColor>
	<Purple.GroupBackColor>#F9F9F9</Purple.GroupBackColor>
	<Purple.TDLabelBackColor>#CBCBE4</Purple.TDLabelBackColor>
	<Purple.TDControlBackColor>#F2F2F2</Purple.TDControlBackColor>
	<Purple.GridBorderColor>#FFFFFF</Purple.GridBorderColor>
	<Purple.GridGroupByBoxBackColor>#9281BA</Purple.GridGroupByBoxBackColor>
	<Purple.GridHeaderBackColor>#CBCBE4</Purple.GridHeaderBackColor>
	<Purple.GridRowHoverBackColor>#F1EEFF</Purple.GridRowHoverBackColor>
	<Purple.GridRowAlternateBackColor>#F5F5F5</Purple.GridRowAlternateBackColor>
	<Purple.GridRowBackColor>#FFFFFF</Purple.GridRowBackColor>

	<Pink.FormBackColor>#FCFBF6</Pink.FormBackColor>
	<Pink.ToolBarBackColor>#E8C4BE</Pink.ToolBarBackColor>
	<Pink.WorkAreaBackColor>#FFFBFB</Pink.WorkAreaBackColor>
	<Pink.ButtonBorderColor>#E88181</Pink.ButtonBorderColor>
	<Pink.ButtonBackColor>#E8C4BE</Pink.ButtonBackColor>
	<Pink.ButtonHoverColor>#F0ABAB</Pink.ButtonHoverColor>
	<Pink.HeaderBackColor>#EC8C8C</Pink.HeaderBackColor>
	<Pink.GroupBackColor>#FFFBFB</Pink.GroupBackColor>
	<Pink.TDControlBackColor>#F2F2F2</Pink.TDControlBackColor>
	<Pink.TDLabelBackColor>#FBD5C4</Pink.TDLabelBackColor>
	<Pink.GridBorderColor>#FFFFFF</Pink.GridBorderColor>
	<Pink.GridGroupByBoxBackColor>#E88181</Pink.GridGroupByBoxBackColor>
	<Pink.GridHeaderBackColor>#FBD5C4</Pink.GridHeaderBackColor>
	<Pink.GridRowHoverBackColor>#FEEFED</Pink.GridRowHoverBackColor>
	<Pink.GridRowAlternateBackColor>#F5F5F5</Pink.GridRowAlternateBackColor>
	<Pink.GridRowBackColor>#FFFFFF</Pink.GridRowBackColor>

	<SkyBlue.FormBackColor>#FCFBF6</SkyBlue.FormBackColor>
	<SkyBlue.ToolBarBackColor>#C0E1E6</SkyBlue.ToolBarBackColor>
	<SkyBlue.WorkAreaBackColor>#F4FAF3</SkyBlue.WorkAreaBackColor>
	<SkyBlue.ButtonBorderColor>#5AA783</SkyBlue.ButtonBorderColor>
	<SkyBlue.ButtonBackColor>#C0E1E6</SkyBlue.ButtonBackColor>
	<SkyBlue.ButtonHoverColor>#8AD1AF</SkyBlue.ButtonHoverColor>
	<SkyBlue.HeaderBackColor>#66B08D</SkyBlue.HeaderBackColor>
	<SkyBlue.GroupBackColor>#F4FAF3</SkyBlue.GroupBackColor>
	<SkyBlue.TDLabelBackColor>#DDE1CE</SkyBlue.TDLabelBackColor>
	<SkyBlue.TDControlBackColor>#F2F2F2</SkyBlue.TDControlBackColor>
	<SkyBlue.GridBorderColor>#FFFFFF</SkyBlue.GridBorderColor>
	<SkyBlue.GridGroupByBoxBackColor>#5AA783</SkyBlue.GridGroupByBoxBackColor>
	<SkyBlue.GridHeaderBackColor>#B6DECE</SkyBlue.GridHeaderBackColor>
	<SkyBlue.GridRowHoverBackColor>#EFFCDC</SkyBlue.GridRowHoverBackColor>
	<SkyBlue.GridRowAlternateBackColor>#F5F5F5</SkyBlue.GridRowAlternateBackColor>
	<SkyBlue.GridRowBackColor>#FFFFFF</SkyBlue.GridRowBackColor>

	<Default.FormBackColor>#FCFBF6</Default.FormBackColor>
	<Default.ToolBarBackColor>#E0D4C6</Default.ToolBarBackColor>
	<Default.WorkAreaBackColor>#FCFBF6</Default.WorkAreaBackColor>
	<Default.ButtonBorderColor>#4CA3DE</Default.ButtonBorderColor>
	<Default.ButtonBackColor>#FFFFFF</Default.ButtonBackColor>
	<Default.ButtonHoverColor>#4CA3DE</Default.ButtonHoverColor>
	<Default.HeaderBackColor>#EBD3BA</Default.HeaderBackColor>
	<Default.GroupBackColor>#FFFAF4</Default.GroupBackColor>
	<Default.TDLabelBackColor>#F3D7AF</Default.TDLabelBackColor>
	<Default.TDControlBackColor>#F2F2F2</Default.TDControlBackColor>
	<Default.GridBorderColor>#FFFFFF</Default.GridBorderColor>
	<Default.GridGroupByBoxBackColor>#EBD3BA</Default.GridGroupByBoxBackColor>
	<Default.GridHeaderBackColor>#F3D7AF</Default.GridHeaderBackColor>
	<Default.GridRowHoverBackColor>#EFFCDC</Default.GridRowHoverBackColor>
	<Default.GridRowAlternateBackColor>#F5F5F5</Default.GridRowAlternateBackColor>
	<Default.GridRowBackColor>#FFFFFF</Default.GridRowBackColor>
</configuration>