<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bifrost.FileTransfer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Bifrost.FileTransfer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bifrost.FileTransfer.Client.Properties.Settings>
            <setting name="Bifrost_Framework_FileTransfer_Client_IFMService_FMService" serializeAs="String">
                <value>http://localhost/IFMService/FMService.asmx</value>
            </setting>
            <setting name="Bifrost_Framework_FileTransfer_Client_IFMService_FMService" serializeAs="String">
                <value>http://localhost/IFMService/FMService.asmx</value>
            </setting>
        </Bifrost.FileTransfer.Client.Properties.Settings>
        <Bifrost.FileTransfer.Client.Properties.Settings>
            <setting name="Bifrost_Framework_FileTransfer_Client_IFMService_FMService" serializeAs="String">
                <value>http://localhost/IFMService/FMService.asmx</value>
            </setting>
            <setting name="Bifrost_Framework_FileTransfer_Client_IFMService_FMService" serializeAs="String">
                <value>http://localhost/IFMService/FMService.asmx</value>
            </setting>
        </Bifrost.FileTransfer.Client.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
